<h1>STUPID COACHING</h1>
<form action="/answer" data-turbo="false" class="row">
  <div class="mb-3">
    <label for="text" class="form-label">Ask your Coach Anything!</label>
    <input type="text" name="answer" class="form-control">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>
</form>
